<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Light-Dark-Mode</title>
</head>
<body id = "body">
    <div class="toggle-btn">
        <div class="button-sun"></div>

        <div class="moon-decor">
            <div class="circle one"></div>
            <div class="circle two"></div>
            <div class="circle three"></div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>